<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
        
        <div class="hero">
            <div class = "hero-top"> 
                <p id = "today">Today is <b><%= today %></b>, <%= date %> <%= month %>  <%= year %> ></p><br>
                <p>Time is: <span id = "times"></span></p>
            </div>
            <div class = "hero-main">

            </div>
        </div>
        <script>

            setInterval(function(){
                const dates = new Date();
                const times = document.getElementById('times');
            
                times.innerText = dates.toLocaleTimeString();
            }, 1000);

        </script>
    </body>
</html>